name: pkgcheck

# This will cancel running jobs once a new run is triggered
concurrency:
  group: ${{ github.workflow }}-${{ github.ref_name }}
  cancel-in-progress: true

on:
  # Manually trigger the Action under Actions/pkgcheck
  workflow_dispatch:
  # Run on every push to main
  push:

jobs:
  pkgcheck:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      issues: read 
    steps:
      - uses: ropensci-review-tools/pkgcheck-action@main
        with:
          summary-only: false
