name: traffic2badge
on:
  push:
  schedule:
    - cron: '0 0 * * *' #UTC
  workflow_dispatch:

permissions:
  contents: write
  
jobs:
  run:
    name: Make GitHub Traffic to Badge
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v2.3.4

      - name: Get Commit Message
        id: message
        uses: actions/github-script@v3.1.0
        env:
          FULL_COMMIT_MESSAGE: '${{ github.event.head_commit.message }}'
        with:
          result-encoding: string
          script: |
            var message = `${process.env.FULL_COMMIT_MESSAGE}`;
            core.info(message);
            if (message != '') return message;
            var time = new Date(Date.now()).toISOString();
            core.info(time);
            return `Get traffic data at ${time}`;

      - name: Set Traffic
        id: traffic
        uses: yi-Xu-0100/traffic-to-badge@v1.4.0
        with:
          my_token: ${{ secrets.TRAFFIC_TOKEN }}
          #(default) static_list: ${{ github.repository }}
          # Views (warm coral-rose family)
          views_color: "#7BAA9E"          # muted emerald
          views_week_color: "#3F6A63"     # dark desaturated teal
          
          # Clones (cool teal-blue family)
          clones_color: "#8A79B1"             # regal violet 
          clones_week_color: "#6A5A91"        # imperial plum

          # Total Views (deep warm neutral)
          total_views_color: "#E27D7A"              # coral rose
          total_views_week_color: "#B85755"         # deep terracotta

          # Total Clones (deep cool neutral)
          total_clones_color: "#2A3B57"       # slate navy
          total_clones_week_color: "#1F2E45"  # navy graphite
          
          #(default) logo: github
          year: 2021

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3.7.3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_branch: ${{ steps.traffic.outputs.traffic_branch }}
          publish_dir: ${{ steps.traffic.outputs.traffic_path }}
          user_name: 'github-actions[bot]'
          user_email: 'github-actions[bot]@users.noreply.github.com'
          full_commit_message: ${{ steps.message.outputs.result }}

      - name: Show Traffic Data
        run: |
          echo ${{ steps.traffic.outputs.traffic_branch }}
          echo ${{ steps.traffic.outputs.traffic_path }}
          cd ${{ steps.traffic.outputs.traffic_path }}
          ls -a
